body{
    margin: 0;
    padding: 0;
}
.container {
    height: 50px;

}
.baslik {
text-align: center;
border-bottom: 1px solid black;
margin-bottom: 24px;
font-family: 'Benne', serif;
font-family: 'Open Sans', sans-serif;
}

.baslik h1{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.sidebarmenu ul {
    list-style-type: none;
    padding: 10px 0;

}

.sidebarmenu ul li a {
    text-decoration: none;
    display: block;
    color: whitesmoke;
    padding: 30px 0px 10px 25px;
    border-bottom: 1px solid whitesmoke;
}

.sidebarmenu {
    background:slategray;
    position: fixed;
    width: 200px;
    height: 100%;
    left: -200px;
    padding-top: 50px;
    transition: all 0.5s ease-in;
    margin-top: 5px;
    transition: all 275 ms ease-in-out;
}

.sidebarmenu ul i {
    margin-right: 10px;
}

.sidebarmenu ul li a:hover {
    color:yellow;
    padding-left: 35px;
    transition: all 1s;
}

#checkbox {
    display: none;
}

label #menu {
    color: teal;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    left: 20px;
    top: 20px;
}

label #menu:hover {
    font-size: 1.5rem;
}

#checkbox:checked  ~  .sidebarmenu {
    left: 0px;
}

.makale {
    margin: 3rem 1rem;
}

.makale-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.makale1 {
    padding: 1rem;
    background-color: wheat;
    border-radius: 5px;
}

.makale2 {
    padding: 1rem;
    background-color: wheat;
    border-radius: 5px;
}

.makale3 {
    padding: 1rem;
    background-color: wheat;
    border-radius: 5px;
}

.okulbaslik {
    margin: 1.5rem 0;
}

.h2 {
    margin: 0.5rem 0;
    font-family: 'Lato', sans-serif;
}

.okul {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.iletisim {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}

.ikonlar a{
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #6ab04c;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.ikonlar a::before, .ikonlar a::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 4px solid;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.ikonlar a:hover{
    transform: scale(.8);
}

.ikonlar a:hover::before{
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.ikonlar a:hover::after{
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}



