body{
    margin: 0;
    padding: 0;
}
.container {
    height: 50px;

}
.baslik {
text-align: center;
border-bottom: 1px solid black;
margin-bottom: 24px;
font-family: 'Benne', serif;
font-family: 'Open Sans', sans-serif;
}

.baslik h1{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.sidebarmenu ul {
    list-style-type: none;
    padding: 10px 0;

}

.sidebarmenu ul li a {
    text-decoration: none;
    display: block;
    color: whitesmoke;
    padding: 30px 0px 10px 25px;
    border-bottom: 1px solid whitesmoke;
}

.sidebarmenu {
    background:slategray;
    position: fixed;
    width: 200px;
    height: 100%;
    left: -200px;
    padding-top: 50px;
    transition: all 0.5s ease-in;
    margin-top: 5px;
    transition: all 275 ms ease-in-out;
}

.sidebarmenu ul i {
    margin-right: 10px;
}

.sidebarmenu ul li a:hover {
    color:yellow;
    padding-left: 35px;
    transition: all 1s;
}

#checkbox {
    display: none;
}

label #menu {
    color: teal;
    cursor: pointer;
    position: fixed;
    z-index: 999;
    left: 20px;
    top: 20px;
}

label #menu:hover {
    font-size: 1.5rem;
}

#checkbox:checked  ~  .sidebarmenu {
    left: 0px;
}